*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

.primary {
  color: blue;
}

.secondary {
  color: white;
}

h2,
h3 {
  text-align: center;
}
